<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%=title%> </title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h1>This is the component detail</h1>
        <p><%=component.component_name%></p>
    </main>
</body>
</html>