<header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/create-pc">Create a PC</a></li>
        <li><a href="/components">Components</a></li>
        <li><a href="/components/new">Add a Component</a></li>
      </ul>
    </nav>
  </header>